<%if params[:cid] != '' || !session[:oid].blank?%>
<div class="col-md-12">
                    <!--more statistics box start-->
                    <section class="panel">
                        <header class="panel-heading custom-tab dark-tab">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a onclick="changeif(1)" href="#profile2" data-toggle="tab">留言</a>
                                </li>
                                <li class="">
                                    <a href="" onclick="changeif(2)" data-toggle="tab">分享</a>
                                </li>
                            </ul>
                            <script>
                            function changeif(a){
                            	if(a ==1){
                            	$("#theif").attr("src","/outer/s11p?cid=<%=params[:cid]%>&cate=comment&tid=<%=params[:tid]%>");
                            	}else{
                            		$("#theif").attr("src","/outer/s11p?cid=<%=params[:cid]%>&cate=share&tid=<%=params[:tid]%>");
                            	}
                            }
                            </script>
                        </header>
                        <div class="panel-body">
                            <div class="tab-content">
                                
                                <div class="tab-pane  active" id="profile2">
                                    <div class="panel-body">
                            <div class="row">
                                
                                      <iframe id="theif" width="100%" height="700px" src="/outer/s11p?cid=<%=params[:cid]%>&cate=comment&tid=<%=params[:tid]%>" style="border: none"></iframe>

                            </div>
                        </div>
                                </div>
                                <div class="tab-pane" id="contact2">
                                	<div class="panel-body">
                            <div class="row">
                                
                                      <iframe width="100%" height="700px" src="/outer/s11p?cid=<%=params[:cid]%>&cate=share&tid=<%=params[:tid]%>" style="border: none"></iframe>

                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h3>資料來源：粉絲團 最後更新時間：<%= @lasttime[0]["time"] %></h3>
                    <!--more statistics box end-->
                </div>
                <%end%>
                <%if params[:fid] != ''%>
                <div class="col-md-12">
                    <!--more statistics box start-->
                    <section class="panel">
                        <header class="panel-heading custom-tab dark-tab">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a onclick="changeif2(1)" href="#profile2" data-toggle="tab">貼文</a>
                                </li>
                                <li class="">
                                    <a href="" onclick="changeif2(2)" data-toggle="tab">留言</a>
                                </li>
                            </ul>
                            <script>
                            function changeif2(a){
                            	if(a ==1){
                            	$("#theif2").attr("src","/outer/f12p?fid=<%=params[:fid]%>&cate=post&tid=0");
                            	}else{
                            		$("#theif2").attr("src","/outer/f12p?fid=<%=params[:fid]%>&cate=comment&tid=0");
                            	}
                            }
                            </script>
                        </header>
                        <div class="panel-body">
                            <div class="tab-content">
                                
                                <div class="tab-pane  active" id="profile2">
                                    <div class="panel-body">
                            <div class="row">
                                
                                      <iframe id="theif2" width="100%" height="700px" src="/outer/f12p?fid=<%=params[:fid]%>&cate=post&tid=0" style="border: none"></iframe>

                            </div>
                        </div>
                                </div>
                                <div class="tab-pane" id="contact2">
                                	<div class="panel-body">
                            <div class="row">
                                
                                      <iframe width="100%" height="700px" src="/outer/s11p?cid=<%=params[:cid]%>&cate=share&tid=<%=params[:tid]%>" style="border: none"></iframe>

                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h3>資料來源：討論區 最後更新時間：2014/12/03</h3>
                    <!--more statistics box end-->
                </div>
                <%end%>
              <%if params[:wid] != ''%>
                <div class="col-md-12">
                    <!--more statistics box start-->
                    <section class="panel">
                        <header class="panel-heading custom-tab dark-tab">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a onclick="changeif3(1)" href="#profile2" data-toggle="tab">貼文</a>
                                </li>
                                <li class="">
                                    <a href="" onclick="changeif3(2)" data-toggle="tab">留言</a>
                                </li>
                            </ul>
                            <script>
                            function changeif3(a){
                            	if(a ==1){
                            	$("#theif3").attr("src","/outer/w11p?wid=<%=params[:wid]%>&cate=post&tid=0");
                            	}else{
                            		$("#theif3").attr("src","/outer/w11p?wid=<%=params[:wid]%>&cate=comment&tid=0");
                            	}
                            }
                            </script>
                        </header>
                        <div class="panel-body">
                            <div class="tab-content">
                                
                                <div class="tab-pane  active" id="profile2">
                                    <div class="panel-body">
                            <div class="row">
                                
                                      <iframe id="theif3" width="100%" height="700px" src="/outer/w11p?wid=<%=params[:wid]%>&cate=post&tid=0" style="border: none"></iframe>

                            </div>
                        </div>
                                </div>
                                <div class="tab-pane" id="contact2">
                                	<div class="panel-body">
                            <div class="row">
                                
                                      <iframe width="100%" height="700px" src="/outer/s11p?cid=<%=params[:cid]%>&cate=share&tid=<%=params[:tid]%>" style="border: none"></iframe>

                            </div>
                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h3>資料來源：微博 最後更新時間：2014/12/03</h3>
                    <!--more statistics box end-->
                </div>
                <%end%>
                <br>
            <button onclick="startlearn()" class="btn btn-danger btn-large" style="margin-left: 47%;margin-top: 2%">功能導覽</button>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/js/sparkline/jquery.sparkline.js"></script>
<script src="/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/js/iCheck/jquery.icheck.js"></script>
<script src="/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/js/flot-chart/jquery.flot.js"></script>
<script src="/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/js/morris-chart/morris.js"></script>
<script src="/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/js/calendar/clndr.js"></script>
<script src="/js/calendar/evnt.calendar.init.js"></script>
<script src="/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

<!--Dashboard Charts-->

