<div class="col-md-12">
                    <!--more statistics box start-->
       
                   
                    <!--more statistics box end-->
                </div>
 <div class="row">
 	 <%if session[:other_date].blank?%>
 	<div class="col-sm-12">
 		
                     <section class="panel">
                <table class="table table-bordered">
                            <thead>
                            	
                            <tr>
                                <th>#</th>
                                <%@company.each do |c|%>
                                <th colspan="2"><%=@s1[c.to_i]["page_name"]%></th>
                                <%end%>
                            </tr>
                            
                            </thead>
                            <tbody>
                            	
                            	<% (0..9).each do |n| %>
                            <tr>
                                <td ><%= n + 1 %></td>
                                 <%@company.each do |c|%>
                                <td <%if @ppp.include?(@s1[c.to_i]["top10"].keys[n])%><%else%>style='color: red'<%end%>><%= @s1[c.to_i]["top10"].keys[n] %></td>
                                <td style="color:#000;font-weight: bold;text-shadow: 2px 2px 2px #fff;background: <%=getwarmcolor(@s1[c.to_i]["top10"].values[n].to_i)%>">
                                	<%= @s1[c.to_i]["top10"].values[n] %>次</td>
                                <%end%>
                            </tr>
                            
                            <% end %>
                            
                            
                            </tbody>
                        </table>
                        
                        </section>
                        <h3>資料來源：粉絲團 最後更新時間：<%= @lasttime[0]["time"] %></h3>
                        </div>
                        <%else%>
                        <div class="col-sm-12">
 		
                     <section class="panel">
                <table class="table table-bordered">
                            <thead>
                            	
                            <tr>
                                <th><%=session[:other_date]%></th>
                                <%@company.each do |c|%>
                                <th colspan="2"><%=@s1_sep[c.to_i]["page_name"]%></th>
                                <%end%>
                            </tr>
                            
                            </thead>
                            <tbody>
                            	
                            	<% (0..9).each do |n| %>
                            <tr>
                                <td ><%= n + 1 %></td>
                                 <%@company.each do |c|%>
                                 <%if @s1_sep[c.to_i]["top10"][session[:other_date]].present?%>
                                <td  <%if @ppp.include?(@s1_sep[c.to_i]["top10"][session[:other_date]].keys[n])%><%else%>style='color: red'<%end%>>
                                	<%= @s1_sep[c.to_i]["top10"][session[:other_date]].keys[n] %></td>
                                <td style="color:#000;font-weight: bold;text-shadow: 2px 2px 2px #fff;">
                                	
                                	<%= @s1_sep[c.to_i]["top10"][session[:other_date]].values[n] %></td>
                                	<%else%>
                                	<td><%=n +1%></td>
                                	<td>nil</td>
                                	<%end%>
                                <%end%>
                            </tr>
                            
                            <% end %>
                            
                            
                            </tbody>
                        </table>
                        
                        </section>
                        <h3>資料來源：粉絲團 最後更新時間：<%= @lasttime[0]["time"] %></h3>
                        </div>
                        <%end%>
                         <br>
            <button onclick="startlearn()" class="btn btn-danger btn-large" style="margin-left: 47%;margin-top: 2%">功能導覽</button>

</div>
	

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/js/sparkline/jquery.sparkline.js"></script>
<script src="/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/js/iCheck/jquery.icheck.js"></script>
<script src="/js/icheck-init.js"></script>

<script src="/js/morris-chart/morris.js"></script>
<script src="/js/morris-chart/raphael-min.js"></script>



<!--Morris Chart-->
<script src="/js/morris-chart/morris.js"></script>
<script src="/js/morris-chart/raphael-min.js"></script>
<!-- <script>
Morris.Bar({
    element: 'graph-bar',
    data: [
        {x: 'Julie Yang', y: 3, z: 2, a: 3},
        {x: '鱷魚必安住好你來A', y: 2, z: 0, a: 1},
        {x: '絕對領域', y: 0, z: 2, a: 4},
        {x: '何欣甯', y: 0, z: 2, a: 4},
        {x: 'cat Yuen', y: 2, z: 4, a: 3}
    ],
    xkey: 'x',
    ykeys: ['y', 'z', 'a'],
    labels: ['公司1', '公司2', '公司3'],
    barColors:['#414e62','#788ba0','#6dc5a3', '#dc0300']


});

</script> -->
<!--Calendar-->
<script src="/js/calendar/clndr.js"></script>
<script src="/js/calendar/evnt.calendar.init.js"></script>
<script src="/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

<!--Dashboard Charts-->

